<div class="divInicio">
    <div class="Contenido">
      <div class="gif">

        <img
          src="https://media.tenor.com/Bbaf7jFc3ZEAAAAi/twitter-png.gif"
          alt=""
        />
      </div>
      <div class="info">
        <h2>Misión</h2>
        <p>
          Darles a todas las personas el poder de crear y compartir ideas e
          información, al instante y sin barreras. Twitter quiere estar al
          servicio de la conversación pública creando un espacio libre y
          seguro para ello.
        </p>
      </div>
      <div class="info">
        <h2>Visión</h2>
        <p>
          Defender la libre expresión porque cada voz tiene el poder de
          impactar el mundo.
        </p>
      </div>
    </div>

    <div class="aside">
      <app-aside></app-aside>
    </div>
  </div>
