<aside>
    <div class="container">
        <h2>Noticias</h2>
        <div class="divNoticias">
            <h5>Secuestro: las víctimas reaccionaron ante propuesta de JEP para sancionar a exFarc</h5>
            <p>Mientras que unos hablan de que resolución de conclusiones puede ser una muestra de impunidad, hay quienes aceptan que las sanciones propias son un componente respetable dentro de los procesos de justicia transicional.</p>
        </div>
        <div class="divNoticias clima">
            <h5>¡No olvides tu impermeable! Se esperan fuertes lluvias este fin de semana</h5>
            <p>Ya sea que hayas salido de compras para aprovechar las ofertas por Black Friday, o viajando de regreso a casa, la lluvia y las tormentas eléctricas pueden causar algunos retrasos y dolores de cabeza.</p>
        </div>
        <div class="divNoticias">
            <h5>Inglaterra regresa del espejismo ante EE UU</h5>
            <p>Después del atracón contra Irán, la selección de Southgate se atasca contra un combinado norteamericano muy sólido y deja opciones a todos los equipos del grupo para pasar a octavos</p>
            <img src="https://imagenes.elpais.com/resizer/TJEoFY0buqU0wtOnkErz6X_hXNc=/1960x1103/cloudfront-eu-central-1.images.arcpublishing.com/prisa/XGASQPFOR5EYDGIE557OLSPU6I.jpg" alt="mirando" srcset="">
        </div>
    </div>
</aside>