  <footer class="footer">
    <div class="contenedor">
      <div class="izquierda col-sm-12">
        <h2>Footer</h2>
        <p>{{ContenidoIzquierda}}</p>
      </div>
      <div class="centro col-sm-12">
        <div class="navegacionTitulo">
          <p>{{TituloNavegacion}}</p>

        </div>

        <li><a href="">Inicio</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/contactenos">Contactenos</a></li>
        <li><a href="/quienes_somos">Quienes Somos</a></li>
      </div>
      <div class="derecha col-sm-12">
       <p>{{ContenidoDerecha}}</p>
      </div>
    </div>     
  </footer>

